In [1]:
import pandas as pd
import numpy as np

# 1.Series

### 指定values和index来创建Series

In [2]:
data = pd.Series([0.5, 1.0, 2.0], index=['a', 'b', 'c'])
data

a    0.5
b    1.0
c    2.0
dtype: float64

In [3]:
data.values # 查看values

array([0.5, 1. , 2. ])

In [4]:
data.index # 查看index，它是一个pd.Index对象

Index(['a', 'b', 'c'], dtype='object')

### 字典转化为Series

In [5]:
population_dict = {"California": 3833, 
                   "Texas":2644, 
                   "New York": 1965}

In [6]:
population = pd.Series(population_dict) # 由字典转化
population

California    3833
Texas         2644
New York      1965
dtype: int64

# 2.DataFrame

### 指定values,index和columns来创建DataFrame

In [7]:
df = pd.DataFrame(np.random.rand(3, 2), columns=['first', 'second'], index=['a', 'b', 'c'])
df

      first    second
a  0.852981  0.711866
b  0.931015  0.822742
c  0.464006  0.056960

In [8]:
df.values # 查看values

array([[0.8529814 , 0.71186629],
       [0.93101476, 0.82274213],
       [0.46400616, 0.05696046]])

In [9]:
df.index, df.columns # index和columns都是pd.Index对象

(Index(['a', 'b', 'c'], dtype='object'),
 Index(['first', 'second'], dtype='object'))

### 双重字典转化为DataFrame

In [10]:
area_dict = {'California': 423967, 'Texas': 695662}
population_area_dict = {'population': population_dict, 'area': area_dict}

In [11]:
pd.DataFrame(population_area_dict) # 默认外层是columns，内层是index，无对应数据则为NaN

            population      area
California        3833  423967.0
Texas             2644  695662.0
New York          1965       NaN

### 多个Series转化成DataFrame

In [12]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
dtype: int64

In [13]:
pd.DataFrame({'population': population, 'area': area})

            population      area
California        3833  423967.0
New York          1965       NaN
Texas             2644  695662.0