In [1]:
import pandas as pd
import numpy as np

# 1.以字典的方式索引

In [2]:
df = pd.DataFrame(np.random.rand(3, 2), columns=['first', 'second'], index=['a', 'b', 'c'])
df

      first    second
a  0.504998  0.830247
b  0.676159  0.020750
c  0.452472  0.063285

In [3]:
"""
可直接取某列
不能直接取某行，如df['a']会报错
"""
df['first']

a    0.504998
b    0.676159
c    0.452472
Name: first, dtype: float64

In [4]:
df['first']['b'] # 先column，再index

0.6761594146507885

# 2. loc与iloc

In [5]:
df.loc['a'] # 使用loc取某行

first     0.504998
second    0.830247
Name: a, dtype: float64

In [6]:
df.loc[:'b', :'first'] # 先index，再column

      first
a  0.504998
b  0.676159

In [7]:
df.iloc[:2, :2] # 使用iloc时，索引方式和数组相同

      first    second
a  0.504998  0.830247
b  0.676159  0.020750

In [8]:
df.iloc[1, 1] = 100 # 修改数值
df

      first      second
a  0.504998    0.830247
b  0.676159  100.000000
c  0.452472    0.063285

In [9]:
df.values[0, 1] = 1 # 直接修改df.values
df

      first      second
a  0.504998    1.000000
b  0.676159  100.000000
c  0.452472    0.063285

# 3.按条件索引

In [10]:
df[df['second'] >= 0.5]

      first  second
a  0.504998     1.0
b  0.676159   100.0

In [11]:
df[(df['first'] >= 0.5) & (df['first'] <= 1.0)]

      first  second
a  0.504998     1.0
b  0.676159   100.0

# 4.遍历dataframe

In [12]:
for x, y in df.iterrows(): # 按行遍历
    print(x) # index
    print(y) # 此行的series
    print(y['second'])

a
first     0.504998
second    1.000000
Name: a, dtype: float64
1.0
b
first       0.676159
second    100.000000
Name: b, dtype: float64
100.0
c
first     0.452472
second    0.063285
Name: c, dtype: float64
0.06328484878328611

In [13]:
for x, y in df.iteritems(): # 按列遍历
    print(x) # column
    print(y) # 此列的series

first
a    0.504998
b    0.676159
c    0.452472
Name: first, dtype: float64
second
a      1.000000
b    100.000000
c      0.063285
Name: second, dtype: float64