In [1]:
import pandas as pd
import numpy as np

# 1.dataframe运算

In [2]:
df = pd.DataFrame(np.random.rand(4, 3), index=['a', 'b', 'c', 'd'], columns=['first', 'second', 'third'])
df

      first    second     third
a  0.452260  0.004300  0.869841
b  0.662480  0.504528  0.430929
c  0.429442  0.978283  0.285755
d  0.616671  0.223622  0.104373

In [3]:
np.exp(df) # point-wise

      first    second     third
a  1.571861  1.004309  2.386532
b  1.939597  1.656203  1.538686
c  1.536401  2.659884  1.330766
d  1.852750  1.250599  1.110015

# 2.列间运算

In [4]:
df['minus'] = df['first'] - df['second']
df

      first    second     third     minus
a  0.452260  0.004300  0.869841  0.447960
b  0.662480  0.504528  0.430929  0.157952
c  0.429442  0.978283  0.285755 -0.548840
d  0.616671  0.223622  0.104373  0.393049

In [5]:
df['quadratic'] = df['third'] ** 2
df

      first    second     third     minus  quadratic
a  0.452260  0.004300  0.869841  0.447960   0.756624
b  0.662480  0.504528  0.430929  0.157952   0.185700
c  0.429442  0.978283  0.285755 -0.548840   0.081656
d  0.616671  0.223622  0.104373  0.393049   0.010894

In [6]:
df.drop(columns=['minus', 'quadratic'], inplace=True) # 使用drop函数删列、行
df

      first    second     third
a  0.452260  0.004300  0.869841
b  0.662480  0.504528  0.430929
c  0.429442  0.978283  0.285755
d  0.616671  0.223622  0.104373

# 3.replace和apply函数

In [7]:
df['third'] = 1
df.replace(1, 100, inplace=True) # 用100代替1
df

      first    second  third
a  0.452260  0.004300    100
b  0.662480  0.504528    100
c  0.429442  0.978283    100
d  0.616671  0.223622    100

In [8]:
df.apply(lambda x: x ** 0.5) # 每个元素开平方

      first    second  third
a  0.672503  0.065574   10.0
b  0.813929  0.710301   10.0
c  0.655319  0.989082   10.0
d  0.785284  0.472887   10.0

In [9]:
df.apply(np.sum, axis=1) # 统计各列的和

a    100.456560
b    101.167008
c    101.407725
d    100.840293
dtype: float64