In [1]:
import pandas as pd
import numpy as np

# 1.处理缺失值

In [2]:
df1 = pd.DataFrame(np.random.rand(4, 3), index=['a', 'b', 'c', 'd'], columns=['first', 'second', 'third'])
df2 = pd.DataFrame(np.random.rand(3, 2), index=['a', 'b', 'c'], columns=['first', 'second'])

In [3]:
df = df1 - df2 # 两个dataframe运算，无对应元素则为NaN
df

      first    second  third
a  0.011085 -0.326300    NaN
b -0.281112  0.456885    NaN
c  0.814787 -0.353178    NaN
d       NaN       NaN    NaN

In [4]:
df.isnull() # 查看信息

   first  second  third
a  False   False   True
b  False   False   True
c  False   False   True
d   True    True   True

In [5]:
df.dropna(axis=1, thresh=2, inplace=True) # axis=1代表针对列，thresh=2表示删除有效数据小于2的列
df

      first    second
a  0.011085 -0.326300
b -0.281112  0.456885
c  0.814787 -0.353178
d       NaN       NaN

In [6]:
df.fillna(0) # 用0填充

      first    second
a  0.011085 -0.326300
b -0.281112  0.456885
c  0.814787 -0.353178
d  0.000000  0.000000

In [7]:
df.fillna(method='ffill') # 向前填充

      first    second
a  0.011085 -0.326300
b -0.281112  0.456885
c  0.814787 -0.353178
d  0.814787 -0.353178