In [1]:
import pandas as pd
import numpy as np

# 1.与dict转换

In [2]:
"""
使用指定values,index,columns的方式创建dataframe
下面使用了ord和chr来遍历字母表
"""
index = [chr(i) for i in range(ord('a'), ord('a') + 8)]
columns = ['duration', 'playtime', 'up', 'favorite', 'comment', 'share']
df = pd.DataFrame(np.random.randint(1, 100, (len(index), len(columns))), index=index, columns=columns)
df.values

array([[79, 82, 75, 99, 99,  3],
       [38, 89, 55, 40, 25, 31],
       [66, 77, 26, 95, 29, 27],
       [ 3, 76, 48, 19, 44, 59],
       [71, 43, 97, 56, 31, 65],
       [66, 45, 79, 30, 52, 67],
       [81, 70, 49, 13, 91, 89],
       [60, 83, 99, 10, 49, 85]])

In [3]:
data_dict = df.to_dict(orient='index') # df -> dict
data_dict

{'a': {'duration': 79,
  'playtime': 82,
  'up': 75,
  'favorite': 99,
  'comment': 99,
  'share': 3},
 'b': {'duration': 38,
  'playtime': 89,
  'up': 55,
  'favorite': 40,
  'comment': 25,
  'share': 31},
 'c': {'duration': 66,
  'playtime': 77,
  'up': 26,
  'favorite': 95,
  'comment': 29,
  'share': 27},
 'd': {'duration': 3,
  'playtime': 76,
  'up': 48,
  'favorite': 19,
  'comment': 44,
  'share': 59},
 'e': {'duration': 71,
  'playtime': 43,
  'up': 97,
  'favorite': 56,
  'comment': 31,
  'share': 65},
 'f': {'duration': 66,
  'playtime': 45,
  'up': 79,
  'favorite': 30,
  'comment': 52,
  'share': 67},
 'g': {'duration': 81,
  'playtime': 70,
  'up': 49,
  'favorite': 13,
  'comment': 91,
  'share': 89},
 'h': {'duration': 60,
  'playtime': 83,
  'up': 99,
  'favorite': 10,
  'comment': 49,
  'share': 85}}

In [4]:
df_dict = pd.DataFrame.from_dict(data_dict, orient='index') # dict -> df
df_dict

   duration  playtime  up  favorite  comment  share
a        79        82  75        99       99      3
b        38        89  55        40       25     31
c        66        77  26        95       29     27
d         3        76  48        19       44     59
e        71        43  97        56       31     65
f        66        45  79        30       52     67
g        81        70  49        13       91     89
h        60        83  99        10       49     85

# 2.csv文件

In [5]:
df.to_csv('sample.csv') # 存储为csv文件

In [6]:
df_csv = pd.read_csv('sample.csv', index_col=0) # 需要指定index_col=0
df_csv.values

array([[79, 82, 75, 99, 99,  3],
       [38, 89, 55, 40, 25, 31],
       [66, 77, 26, 95, 29, 27],
       [ 3, 76, 48, 19, 44, 59],
       [71, 43, 97, 56, 31, 65],
       [66, 45, 79, 30, 52, 67],
       [81, 70, 49, 13, 91, 89],
       [60, 83, 99, 10, 49, 85]])

# 2.excel文件

In [7]:
df.to_excel('sample.xlsx')

In [8]:
df_excel = pd.read_excel('sample.xlsx') # 若不指定index_col=0，会多出一行'Unnamed: 0'
df_excel

  Unnamed: 0  duration  playtime  up  favorite  comment  share
0          a        79        82  75        99       99      3
1          b        38        89  55        40       25     31
2          c        66        77  26        95       29     27
3          d         3        76  48        19       44     59
4          e        71        43  97        56       31     65
5          f        66        45  79        30       52     67
6          g        81        70  49        13       91     89
7          h        60        83  99        10       49     85