In [1]:
import pandas as pd
import numpy as np

# 1.合并操作

In [2]:
df1 = pd.DataFrame(np.random.randint(0, 10, (2, 3)), index=np.arange(2), columns=['a', 'b', 'c'])
df2 = pd.DataFrame(np.random.randint(5, 15, (3, 3)), index=np.arange(4, 7), columns=['a', 'b', 'c'])

In [3]:
pd.concat([df1, df2]) # concat合并

    a  b   c
0   3  3   3
1   4  3   2
4   5  5   5
5  13  7   8
6  10  8  10

In [4]:
df1.append(df2) # append合并

    a  b   c
0   3  3   3
1   4  3   2
4   5  5   5
5  13  7   8
6  10  8  10